# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
eggs/
*.egg-info/
*.egg

# PyCharm files
.idea/

# macOS files
.DS_Store

__pycache__/
logs
val2017
wrong_loss.pt
annotations_trainval2017.zip
image.zip
mask.zip
model_pred.pt
movi_c
movi_c.zip
target.pt
/
